.header {
    text-align: center;
    margin-bottom: 3rem;
}

.badge {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    background: rgba(127, 181, 57, 0.1);
    color: var(--color-brand);
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 1rem;
}

.title {
    font-size: .2rem;
    font-weight: 600;
    margin-bottom: 0;
}

.brand {
    color: var(--color-brand);
}

.titleHighlight {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 0;
}

@media (min-width: 768px) {
    .title {
        font-size: .7rem;
    }

    .titleHighlight {
        font-size: 2rem;
    }
}

@media (min-width: 1024px) {
    .title {
        font-size: 1.2rem;
    }

    .titleHighlight {
        font-size: 2.5rem;
    }
}

.subtitle {
    font-size: 1.125rem;
    color: var(--color-text-secondary);
    max-width: 48rem;
    margin: 0 auto;
}